
<div style="margin: 20%;">
<h1 style="text-align: center;">{{viewTitle}} <br> <br></h1>
<h1 style="border-bottom: 10px solid pink;"><br></h1> <br> <br> <br> 

<form action='/client' method="POST" autocomplete="off">
  <input type="hidden" name="_id" value="{{client._id}}">
<div class="d-flex flex-row">
  <div class="circle text-light bg-dark">1</div>
  <h3 style="font-family: fantasy;">Client' Personal Information</h3>
</div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label>First Name</label>
      <input type="text" class="form-control" minlength="2" pattern="[A-Za-z]{2,20}" name="fName" placeholder="Donald" value="{{client.fName}}">
    </div>
    <div class="form-group col-md-6">
      <label>Last Name</label>
      <input type="text" class="form-control" minlength="2" pattern="[A-Za-z]{2,20}" name="lName" placeholder="Duck" value="{{client.lName}}">
    </div>
  </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Date of Birth</label>
        <input type="date" class="form-control" name="dob" placeholder="/mm/dd/yyyy" min="1950-01-01" max="2002-01-01" value="{{client.dob}}">
        <!--
        <input type="text" class="form-control" name="dob" placeholder="June 9, 1934" value="{{client.dob}}">
        Use calendar. -->
      </div>
      <div class="form-group col-md-6">
        <label>Personal Number</label>
        <input type="number" class="form-control" minlength="11" maxlength="11" pattern="[0-9]{11,11}" name="pNumber" placeholder="Personal Number" value="{{client.pNumber}}">
        <!--  Validation must be fixed -->
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>City</label>
          <input type="text" class="form-control" minlength="2" name="city" placeholder="Duckburg" value="{{client.city}}">
      </div>
    </div>


  <div class="d-flex flex-row">
    <div class="circle text-light bg-dark">2</div>
    <h3 style="font-family: fantasy;">Client' Banking Information</h3>
  </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Created (Today)</label>
          <input type="date" class="form-control" name="created" value="{{client.created}}">
          <!-- We can use current date & time, and pass it to the db  - now() -function in js -->
      </div>
    <div class="form-group col-md-6">
    <label>Account Number</label>
    <input type="number" class="form-control" pattern="[0-9]{4,4} ?- ?[0-9]{2,2} ?- ?[0-9]{5,5}" name="accNumber" placeholder="Account Number" value="{{client.accNumber}}">
    <!-- Remove this from the registration page, but implement some kind of generated account (can be defined, e.g. dob + 5#) -->
    </div>
  </div>

 
  <div class="form-group">
    <button type="submit" class="btn btn-info">Submit</button>
    <a class="btn btn-secondary" href="/client/list">List All Clients</a>
  </div>
    

</form>

</div>

<!--
var clientSchema = new mongoose.Schema({
  pNumber: {
    type: Number,
    required: 'Required Field'
  },
  accNumber: {
    type: Number,
    required: 'Required Field'
  },
  fName: {
    type: String,
    required: 'Required Field'
  },
  lName: {
    type: String,
    required: 'Required Field'
    },
  dob: {
    type: Number,
    required: 'Required Field'
  },
  city: {
    type: String,
    required: 'Required Field'
  },
  created: {
    type: Number,
    required: 'Required Field'
  }
})
-->