<h1>Client List</h1>

<h3><a class="btn btn-secondary" href="/client">Create New</a></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Date of Burth</th>
      <th>City</th>
      <th>Personal Number</th>
      <th>Account Number</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>{{this.lName}}</td>
      <td>{{this.fName}}</td>
      <td>{{this.dob}}</td>
      <td>{{this.city}}</td>
      <td>{{this.pNumber}}</td>
      <td>{{this.accNumber}}</td>  
      <td>{{this.created}}</td>
      <td>
        <a class="btn btn-primary btn-sm" href="/client/{{this.id}}">Edit</a>
        <a class="btn btn-primary btn-sm" href="/client/delete/{{this.id}}"
        onclick="return confirm('Are you sure you want to delete this client?');">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>




<!--
var clientSchema = new mongoose.Schema({
  pNumber: {
    type: Number,
    required: 'Required Field'
  },
  accNumber: {
    type: Number,
    required: 'Required Field'
  },
  fName: {
    type: String,
    required: 'Required Field'
  },
  lName: {
    type: String,
    required: 'Required Field'
    },
  dob: {
    type: Number,
    required: 'Required Field'
  },
  city: {
    type: String,
    required: 'Required Field'
  },
  created: {
    type: Number,
    required: 'Required Field'
  }
})
-->