<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ABS Bank</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  <style>
    #box {
      background-color: antiquewhite;
      margin-top: 2%;
      padding: 20px;
      -webkit-box-shadow: 10px 10pz 20px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.75);
      border-radius: 10px 10px 10px 10px;
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px 10px 10px 10px;
      border: 0px solid #000;
    }

    .circle {                    /* The black circles with numbers in them */
      border-radius: 12px;
      width: 22px;
      height: 24px;
      margin-top: 0.5em;
      margin-right: 1em;
      display: inline-block;
      padding-left: 0.4em;
    }

    .form-control {  /* No borders on input fields */
      border: 0px;
    }

    .outer {
      transform: scale(0.8, 0.8);  /* Make it a bit smaler (bootstrap is quite large) */
    }

    form {
      padding-left: 2em;
      width: 100%;
    }    
  </style>
</head>
<body class="bg-info">
  <div id='box' class="col-md-6 offset-md-3">
    {{{body}}}
  </div>
  
</body>
</html>